# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.venv/
venv/
env/
.pytest_cache/


# IDE
.idea/
.vscode/

# Docker volumes / local data
mongo_data/
uploads/
!uploads/.gitkeep

# Node / NestJS
node_modules/
dist/
npm-debug.log*

# Environment
.env
!.env.example

# OS
.DS_Store
